doctype html
<!--[if lt IE 9]>
  <html class="lt-ie9 no-js" lang="en">
<![endif]-->
<!--[if gte IE 9]><!-->
  html(lang='en')
<!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Sexy React Stack')
    title Sexy React Stack
    link(rel='shortcut icon', href='/asset/image/favicon.png')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700', rel='stylesheet' )
  body
    <!--[if lt IE 9]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->

    #app
    script(type='text/javascript').
      window.__INITIAL_STATE__ = !{JSON.stringify(initialState)};
